<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Bienvenidos a OpenPeru{% endblock title %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        {% stylesheets filter='css_url_rewrite' '@bootstrap_css' '@GoproMainBundle/Resources/public/css/*' %}
            <link type="text/css" rel="stylesheet" href="{{ asset_url }}" media="screen"/>
        {% endstylesheets %}

    {% endblock stylesheets%}

    {% block javascripts %}
        {% javascripts '@jquery' '@bootstrap_js''@GoproMainBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascripts %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
<div class="container">
    <div class="jumbotron" id="header">
        {% block header %}
        <div id='titulo'><h2>{% block titulo %}{% endblock titulo %}</h2></div>
        <div id="loginStatus">

            {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('sonata_user_admin_security_logout') }}">
                    {{ 'user_block_logout'|trans({}, 'SonataUserBundle') }}
                </a>
            {% else %}

                <a href="{{ path('sonata_user_admin_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        {% endblock header %}
    </div>

    <div id='navigation'>
        {% block navigation %}
            {{ render(controller('GoproMainBundle:Default:navigation')) }}
        {% endblock navigation %}
    </div>

    <br />

    <div id="sessionFlash">
        {% block sesionflash %}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    {% if type == 'error' %}
                        <div class="alert alert-danger">
                            {{ message}}
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endif %}

                {% endfor %}
            {% endfor %}
        {% endblock sesionflash %}
    </div>

    <div id="mainContent">
        {% block maincontent %}
        {% endblock maincontent %}
    </div>
{% endblock body %}
{% block plantillasajax %}
    {{ source("GoproMainBundle:Rawhtml:highlight.html.twig") }}
    {{ source("GoproMainBundle:Rawhtml:error.html.twig") }}
    {{ source("GoproMainBundle:Rawhtml:archivorow.html.twig") }}
{% endblock plantillasajax %}
</div>
</body>
</html>
