{#% if admin.isGranted('SHOW', object) and admin.hasRoute('show') %#}
    {% block field %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Hora
                </th>
                <th>
                    Origen
                </th>
                <th>
                    Destino
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Código
                </th>
                <th>
                    Num Adl
                </th>
                <th>
                    Num Chd
                </th>
                <th>
                    Nota
                </th>
            </tr>

            </thead>
            <tbody class="sonata-ba-tbody">
            {% for serviciofile in value %}
                <tr>
                    <td>
                        {{ serviciofile.hora|date('H:i') }}
                    </td>
                    <td>
                        {{ serviciofile.origen}}
                    </td>
                    <td>
                        {{ serviciofile.destino}}
                    </td>
                    <td>
                        {{ serviciofile.nombre}}
                    </td>
                    <td>
                        {{ serviciofile.codigo}}
                    </td>
                    <td>
                        {{ serviciofile.numadl}}
                    </td>
                    <td>
                        {{ serviciofile.numchd}}
                    </td>
                    <td>
                        {{ serviciofile.nota}}
                    </td>
                </tr>
            {% else %}
                <tr><td>No hay files</td></tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}

{#% endif %#}

