{% extends 'GoproTransporteBundle::layout.html.twig' %}
{% block title %}Cargador de Servicios{% endblock title %}
{% block titulo %}Cargador de Servicios{% endblock titulo %}

{% block sesionflash %}

    {% for mensaje in mensajes %}

        {% if mensaje.tipo == 'error' %}
            <div class="alert alert-danger">
                {{ mensaje.contenido}}
            </div>
        {% elseif mensaje.tipo == 'success' %}
            <div class="alert alert-success">
                {{ mensaje.contenido }}
            </div>
        {% else %}
            <div class="alert alert-info">
                {{ mensaje.contenido }}
            </div>

        {% endif %}


    {% endfor %}
{% endblock sesionflash %}

{% block maincontent %}

    <div id="archivo">
        {{ form(formulario) }}
        <h1>Agregar archivo</h1>
        <div id="cargadorArchivos">Subir Archivo</div>
    </div>


    <div id="archivos">
        <h1>Listado de Archivos</h1>
        <table class="table" id="listaArchivos">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% if archivosAlmacenados|default %}
                {% for archivo in archivosAlmacenados %}
                    <tr data-id="{{ archivo.id }}">
                        <td class="nombre">{{ archivo.nombre }}</td>
                        <td>{{ archivo.creado | date('Y-m-d H:i:s') }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('gopro_transporte_cargador_genericoprograma', {'archivoEjecutar': archivo.id}) }}">Procesar</a>
                            <a class="btn btn-danger borrarFila" data-id="{{ archivo.id }}" href="{{ path('gopro_main_archivo_delete',{'id':archivo.id})}}">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock maincontent %}





