{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {%- if value is not empty and object.url is defined -%}
        &nbsp;
        <a href="#"
           class="edit_link"
           data-toggle="modal"
           data-target="#vinculosModal-{{ object.id }}">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            {{ value }}
        </a>

        <div class="modal fade" id="vinculosModal-{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="facturarLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Documentos disponibles</h4>
                    </div>
                    <div class="modal-body">
                        Seleccione el documento que desea mostrar
                    </div>
                    <div class="modal-footer">
                        <a href="{{ object.url }}.pdf"
                           class="btn btn-default"
                           title="Pdf"
                           target="_blank"
                           data-dismiss="modal"
                           onclick="event.preventDefault(); window.open('{{ object.url }}.pdf', '_blank');"
                        >
                            Pdf
                        </a>
                        <a href="{{ object.url }}.xml"
                           class="btn btn-default"
                           title="Xml"
                           target="_blank"
                           data-dismiss="modal"
                           onclick="event.preventDefault(); window.open('{{ object.url }}.xml', '_blank');"
                        >
                            Xml
                        </a>
                    </div>
                </div>
            </div>
        </div>

    {%- elseif value is not empty -%}
        {{ value }}
    {%- else -%}

    {%- endif -%}
{% endblock %}
