{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'GoproSonataBundle:Admin:standard_layout.html.twig' %}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': sonata_admin.adminPool.getTemplate('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block show %}


<div class="sonata-ba-view">

    {{ sonata_block_render({ 'type': 'sonata_translation.block.locale_switcher' }, {
        'admin': admin,
        'object': object,
        'locale_switcher_route': 'resumen',
    }) }}


    <div class="row">

        <div class="col-md-12 ">


            <div class="box box-primary">

                <div class="box-header">
                    <h4 class="box-title">
                        {{ cotizacion.file.nombre }}
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                        <tr class="sonata-ba-view-container">
                            <th>Cotización</th>
                            <td>{{ cotizacion.cotizacion.nombre }}</td>

                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>Número de pasajeros</th>
                            <td>{{ cotizacion.cotizacion.numeropasajeros }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" role="tablist">
                    {% for name, contenido in tabs %}
                        <li{% if loop.first %} class="active"{% endif %}>
                            <a href="#tab_{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                <i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i>
                                {{ contenido.nombre }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for name, contenido in tabs %}
                        <div
                                class="tab-pane fade{% if loop.first %} in active{% endif %}"
                                id="tab_{{ admin.uniqid }}_{{ loop.index }}"
                        >
                            <div class="box-body container-fluid">
                                <div class="sonata-ba-collapsed-fields">
                                    {% if name == 'tarifas' %}
                                        <h4><strong>Por tipo de pasajero</strong></h4>
                                        {% for rango in contenido.rangos %}
                                            <h4>{{ rango.tipoPaxNombre }} - {{ rango.rangoEdadNombre }} <strong>x {{ rango.cantidad }}</strong></h4>
                                            {% if rango.nombrePersistente is defined %}
                                                <h5>{{ rango.nombrePersistente }}</h5>
                                            {% endif %}
                                            <div style="margin-left: 30px;" class="box-body table-responsive no-padding">
                                                <table class="table table-bordered table-striped sonata-ba-list">
                                                    <thead>
                                                    <tr class="sonata-ba-list-field-header">
                                                        <th>
                                                            Tipo
                                                        </th>
                                                        <th class="text-right">
                                                            Tarifa soles
                                                        </th>
                                                        <th class="text-right">
                                                            Tarifa dolares
                                                        </th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%  for tarifaresumen in rango.resumen %}
                                                    <tr>
                                                        <td>
                                                            {{ tarifaresumen.tipoTarTitulo }}
                                                        </td>
                                                        <td class="text-right">
                                                            {{ tarifaresumen.ventasoles }}
                                                        </td>
                                                        <td class="text-right">
                                                            {{ tarifaresumen.ventadolares }}
                                                        </td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                            <br />

                                        {% endfor %}

                                    {% elseif name == 'politica' %}
                                        {{ contenido.contenido|raw }}

                                    {% elseif name == 'itinerario' %}
                                        {% for itinerario in contenido.itinerarios %}
                                            <h4><strong>{{ itinerario.fecha }}</strong></h4>
                                            {% for item in itinerario.fechaitems %}
                                                <h4>{{ item.titulo }}</h4>
                                                {{ item.descripcion|raw }}
                                            {% endfor %}
                                        {% endfor %}

                                    {% elseif name == 'incluye' %}

                                        {% if contenido.tipos is defined %}

                                            {% for tipo in contenido.tipos %}
                                                <h4>{{ tipo.titulo }}:</h4>
                                                <ul>
                                                    {% for componente in tipo.componentes %}
                                                        <li>{{ componente.titulo }} {% if componente.tituloItinerario is defined %} en {{ componente.tituloItinerario }} {% endif %}
                                                            {% if componente.tarifas is defined %}
                                                                <ul>
                                                                    {% for tarifa in componente.tarifas %}
                                                                        <li>{{ tarifa.titulo }} x {{ tarifa.cantidad }}</li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}

                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}

                                        {% endif %}
                                    {% elseif name == 'agenda' %}
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-bordered table-striped sonata-ba-list">
                                                <thead>
                                                <tr class="sonata-ba-list-field-header">
                                                    <th>
                                                        Inicio
                                                    </th>
                                                    <th>
                                                        Nombre
                                                    </th>
                                                    <th>
                                                        Fin
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for componente in contenido.componentes if componente.fechahorainicio is not null %}
                                                    <tr>
                                                        <td>
                                                            {{ componente.fechahorainicio|date('Y/m/d H:i') }}
                                                        </td>
                                                        <td>
                                                            {{ componente.titulo }} {% if componente.tituloItinerario is defined %} en {{ componente.tituloItinerario }} {% endif %}
                                                        </td>
                                                        <td>
                                                            {{ componente.fechahorafin|date('Y/m/d H:i') }}
                                                        </td>
                                                    </tr>


                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}


                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>








    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
