{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<table class="table table-bordered">
    <thead>
        <tr>
            {% for field_name, nested_field in form.children|first.children %}
                {% if field_name == '_delete' %}
                    <th>{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
                {% elseif field_name != 'cotservicios' and field_name != 'cotcomponentes' and field_name != 'cottarifas'%}
                    <th
                        {% if nested_field.vars['required'] %}
                            class="required"
                        {% endif %}
                        {% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %}
                            style="display:none;"
                        {% endif %}
                    >
                        {{ nested_field.vars.label|trans({}, nested_field.vars['sonata_admin'].admin.translationDomain
                            |default(nested_field.vars.translation_domain)
                        ) }}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody class="sonata-ba-tbody">
        {% for nested_group_field_name, nested_group_field in form.children %}
            <tr class="row-{{ nested_group_field.vars.sonata_admin.name }}">
                {% for field_name, nested_field in nested_group_field.children %}
                    {% if field_name != 'cotservicios' and field_name != 'cotcomponentes' and field_name != 'cottarifas' %}

                    <td class="
                        sonata-ba-td-{{ id }}-{{ field_name  }}
                        control-group campo-{{ field_name }}
                        {% if nested_field.vars.errors|length > 0 %} error sonata-ba-field-error{% endif %}
                        "
                        {% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %}
                            style="display:none;"
                        {% endif %}
                    >
                        {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                            {{ form_widget(nested_field) }}

                            {% set dummy = nested_group_field.setrendered %}
                        {% else %}
                            {% if field_name == '_delete' %}
                                {{ form_widget(nested_field, { label: false }) }}
                            {% else %}
                                {{ form_widget(nested_field) }}
                            {% endif %}
                        {% endif %}
                        {% if nested_field.vars.errors|length > 0 %}
                            <div class="help-inline sonata-ba-field-error-messages">
                                {{ form_errors(nested_field) }}
                            </div>
                        {% endif %}
                    </td>
                    {% endif %}


                {% endfor %}
            </tr>

            {% if nested_group_field.children['cotservicios'] is defined %}
                <tr class="splitted">
                    <td style="vertical-align: bottom; padding-bottom: 35px;"><strong>Serv</strong></td><td colspan="{{ nested_group_field.children|length - 2 }}"> {{ form_widget(nested_group_field.children['cotservicios']) }}</td>
                </tr>
            {%  endif %}
            {% if nested_group_field.children['cotcomponentes'] is defined %}
                <tr class="splitted">
                    <td style="vertical-align: bottom; padding-bottom: 35px;"><strong>Comp</strong></td><td colspan="{{ nested_group_field.children|length - 2 }}"> {{ form_widget(nested_group_field.children['cotcomponentes']) }}</td>
                </tr>
            {%  endif %}
            {% if nested_group_field.children['cottarifas'] is defined %}
                <tr class="splitted">
                    <td style="vertical-align: bottom; padding-bottom: 35px;"><strong>Tar</strong></td><td colspan="{{ nested_group_field.children|length - 2 }}"> {{ form_widget(nested_group_field.children['cottarifas']) }}</td>
                </tr>
            {%  endif %}

        {% endfor %}
    </tbody>
</table>
